.form {
    margin-top: 1em;
  }
  
  .quantityInput {
    height: 35px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 0.8em;
    text-align: center;
  }
  
  .formBtn {
    border: none;
    outline: none;
    background-color: goldenrod;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    height: 35px;
    border-radius: 8px;
    transition: 450ms;
    will-change: transform;
    cursor: pointer;
    padding: 0 0.8rem;
  }
  
  .formBtn:hover {
    transform: scale(1.075);
  }
  
  @media screen and (max-width: 768px) {
    .formBtn {
      margin-top: 15px;
    }
  }